# Summer Olympics Data Analysis Assignment

### 1. In how many cities Summer Olympics is held so far?

In [11]:
import pandas as pd
df = pd.read_csv("summer.csv")
city=list()
for i in range(len(df)):
    if df['City'][i] not in city:
        city.append(df['City'][i])
print("The no of cities in which it is held is",len(city))

The no of cities in which it is held is 22

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [2]:
import pandas as pd
df = pd.read_csv("summer.csv")
sport={}
for i in range(len(df)):
    if df['Sport'][i] not in sport.keys():
        sport[df['Sport'][i]]=0
        if df['Medal'][i]=='Gold':
            sport[df['Sport'][i]]=1
    else:
        if df['Medal'][i]=='Gold':
            sport[df['Sport'][i]]+=1
i=1
while(i<=5):
    mx=max(sport.values())
    for ky, val in sport.items():
        if val==mx:
            print(i," Sport: ", ky, " Gold: ",val)
            del sport[ky]
            break
    i+=1

1  Sport:  Aquatics  Gold:  1421
2  Sport:  Athletics  Gold:  1215
3  Sport:  Rowing  Gold:  890
4  Sport:  Gymnastics  Gold:  820
5  Sport:  Fencing  Gold:  552

### 3. Which sport is having most number of medals so far? (Top 5)

In [3]:
import pandas as pd
df = pd.read_csv("summer.csv")
sport={}
for i in range(len(df)):
    if df['Sport'][i] not in sport.keys():
        sport[df['Sport'][i]]=1
    else:
        sport[df['Sport'][i]]+=1
i=1
while(i<=5):
    mx=max(sport.values())
    for ky, val in sport.items():
        if val==mx:
            print(i," Sport: ", ky, " Medal: ",val)
            del sport[ky]
            break
    i+=1

1  Sport:  Aquatics  Medal:  4170
2  Sport:  Athletics  Medal:  3638
3  Sport:  Rowing  Medal:  2667
4  Sport:  Gymnastics  Medal:  2307
5  Sport:  Fencing  Medal:  1613

### 4. Which player has won most number of medals? (Top 5)

In [12]:
import pandas as pd
df = pd.read_csv("summer.csv")
sport={}
for i in range(len(df)):      
    if df['Athlete'][i] not in sport.keys():
        sport[df['Athlete'][i]]=1
    else:
        sport[df['Athlete'][i]]+=1
i=1
while(i<=5):
    mx=max(sport.values())
    for ky, val in sport.items():
        if val==mx:
            print(i," Name: ", ky, " Medals: ",val)
            del sport[ky]
            break
    i+=1

1  Name:  PHELPS, Michael  Medals:  22
2  Name:  LATYNINA, Larisa  Medals:  18
3  Name:  ANDRIANOV, Nikolay  Medals:  15
4  Name:  MANGIAROTTI, Edoardo  Medals:  13
5  Name:  ONO, Takashi  Medals:  13

### 5. Which player has won most number Gold Medals of medals? (Top 5)

In [13]:
import pandas as pd
df = pd.read_csv("summer.csv")
sport={}
for i in range(len(df)):
    if df['Athlete'][i] not in sport.keys():
        sport[df['Athlete'][i]]=0
        if df['Medal'][i]=='Gold':
            sport[df['Athlete'][i]]=1
    else:
        if df['Medal'][i]=='Gold':
            sport[df['Athlete'][i]]+=1
i=1
while(i<=5):
    mx=max(sport.values())
    for ky, val in sport.items():
        if val==mx:
            print(i," Name: ", ky, " Gold: ",val)
            del sport[ky]
            break
    i+=1

1  Name:  PHELPS, Michael  Gold:  18
2  Name:  NURMI, Paavo  Gold:  9
3  Name:  LATYNINA, Larisa  Gold:  9
4  Name:  SPITZ, Mark  Gold:  9
5  Name:  LEWIS, Carl  Gold:  9

### 6. In which year India won first Gold Medal in Summer Olympics?

In [15]:
import pandas as pd
df = pd.read_csv("summer.csv")
yr=list()
for i in range(len(df)):
    if df['Country'][i] == 'IND':
        if df['Medal'][i] =='Gold':
            yr.append(df['Year'][i])
if len(yr)==0:
    print("India havent won a Gold medal yet")
else:
    print("India won its first medal in",min(yr))

India won its first medal in 1928

### 7. Which event is most popular in terms on number of players? (Top 5)

In [16]:
import pandas as pd
df = pd.read_csv("summer.csv")
sport={}
for i in range(len(df)):
    if df['Event'][i] not in sport.keys():
        sport[df['Event'][i]]=1
    else:
        sport[df['Event'][i]]+=1
i=1
while(i<=5):
    mx=max(sport.values())
    for ky, val in sport.items():
        if val==mx:
            print(i," Event: ", ky, " Players: ",val)
            del sport[ky]
            break
    i+=1

1  Event:  Football  Players:  1497
2  Event:  Hockey  Players:  1422
3  Event:  Team Competition  Players:  1147
4  Event:  Basketball  Players:  1012
5  Event:  Handball  Players:  973

### 8. Which sport is having most female Gold Medalists? (Top 5)

In [17]:
import pandas as pd
df = pd.read_csv("summer.csv")
sport={}
for i in range(len(df)):
    if df['Sport'][i] not in sport.keys():
        sport[df['Sport'][i]]=0
        if df['Gender'][i]=='Women':
            if df['Medal'][i]=='Gold':
                sport[df['Sport'][i]]=1
    else:
        if df['Gender'][i]=='Women':
            if df['Medal'][i]=='Gold':
                sport[df['Sport'][i]]+=1
i=1
while(i<=5):
    mx=max(sport.values())
    for ky, val in sport.items():
        if val==mx:
            print(i," Sport: ", ky, " Gold: ",val)
            del sport[ky]
            break
    i+=1

1  Sport:  Aquatics  Gold:  589
2  Sport:  Athletics  Gold:  389
3  Sport:  Gymnastics  Gold:  268
4  Sport:  Rowing  Gold:  217
5  Sport:  Volleyball  Gold:  166